<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/static/style.css">
<title>Login</title>
</head>

<body>


<div class="login-bg">

<div class="login-card">

<h2>Welcome Back 👋</h2>

<p>Please login to continue</p>


<form method="POST">

<div class="input-box">
<input type="email" name="email" required>
<label>Email</label>
</div>


<div class="input-box">
<input type="password" name="password" required>
<label>Password</label>
</div>


<button type="submit">Login</button>

</form>

</div>

</div>


</body>
</html>
<p>
New user?
<a href="/signup">Create account</a>
</p>